<div class="link-button">
        <button class="active"  [routerLink]="['/Step1']">Home</button><br>
        <button class="active"  [routerLink]="['/Step2']">Registration</button><br>
        <button class="active"  [routerLink]="['/Step3']">Education</button><br>
        <button [routerLink]="['/Step4']"  >Summary</button><br>
    </div>


        <!-- <div class="dropzone" 
        appMultiImages
        (hovered)="toggleHover($event)"
        (droped)="onDrop($event)"
        [class.hovering]="isHovering">
   
   
        <h3>AngularFire Drop Zone</h3>
        <p>Drag and Drop a File</p>
   </div> -->
   <div class="card">
       <input type="file" multiple= true
       (change)="onDrop($event)" #uploader >
   </div>
   <!-- <button type="button" (click)="startUpload()" >Click To Upload</button> -->
  
<!--    
   <div *ngFor="let file of [files]" (change)="uploader.change()">
     {{file.name}}
   </div>

   <div *ngFor="let file of files">
    <upload-task [file]="file"></upload-task>
  </div> -->
  <div *ngFor="let upload of uploads">
	<span>Upload of {{upload.fileName}}</span>
	<!-- <p> Progress: {{upload.percentage | async}}</p> -->
</div>
  <div><button type="button" (click)=UploadtoStorag()>Upload</button></div>
   <div>
    <form [formGroup]="formSignUpGroup" >
        <!-- <div class="card" style="width: 25rem">
            <div class="text-center">
                <img [src]="imgSrc" width="350px" (click)="fileUploader.click()" height="250px">
            </div>
            <div class="form-group">
                    
                <label>Select file to upload</label>
                <input type="file" accept="image/*" multiple class="form-control" #fileUploader  appMultiImages 
                (selected)="onChange($event)"    (hovered)="toggleHover($event)"
                [class.hovering]="isHovering"
                formControlName = "imageUrl">
            </div>
            
        </div> -->
    

    <table class="table">
        <thead class="thead-light">
            <th>  Sr. </th>
            <th>Education</th>
            <th>Specialization</th>
            <th>University Name</th>
            <th>Markes Obtained</th>
            <th>Maximum Marks</th>
            <th>Year of Passing</th>
        </thead>
        <tr *ngFor="let cust of UserModels ; let i = index">
            <td> {{i+1}} </td>
            <td>{{cust.EduStandard}}</td>
            <td>{{cust.EduStream}}</td>
            <td>{{cust.EduUniversity}}</td>
            <td>{{cust.EduMarksObt}}</td>
            <td>{{cust.EduMarksMax}}</td>
            <td>{{cust.EduYear}}</td>
          </tr>
        <tr>
            <td> <input type="button" (click)="addUser()"  value="Add"   [disabled]="!(formSignUpGroup.valid)"> </td>
            <td>
                <select [(ngModel)]="UserModel.EduStandard" value="10th" [ngModelOptions]="{standalone: true}" name="User" placeholder="Standard">
                    <option  value="10th">High School</option>
                    <option value="12th">Senior School</option>
                    <option value="Gradute">Graduation</option>
                    <option value="PG">Post Graduation</option>
                </select>
            </td>
            <td> <input type="text" [(ngModel)]="UserModel.EduStream"  formControlName="UserStreamControl">
                <span *ngIf="formSignUpGroup.dirty"  
                [hidden]="!hasError('UserStreamControl','required')" id="user">*Data Required</span> </td>
            <td> <input type="text" [(ngModel)]="UserModel.EduUniversity"  formControlName="UserUnivControl">
                <span *ngIf="formSignUpGroup.dirty"  
                [hidden]="!hasError('UserUnivControl','required')" id="user">*Data Required</span> </td>
            <td> <input type="number" [(ngModel)]="UserModel.EduMarksObt"  formControlName="UserMarksObtControl">
                <span *ngIf="formSignUpGroup.dirty"  
                [hidden]="!hasError('UserMarksObtControl','required')" id="user">*Data Required</span> </td>
            <td> <input type="number" [(ngModel)]="UserModel.EduMarksMax"  formControlName="UserMarksMaxControl">
                <span *ngIf="formSignUpGroup.dirty"  
                [hidden]="!hasError('UserMarksMaxControl','required')" id="user">*Data Required</span> </td>
            <td> <input type="number" [(ngModel)]="UserModel.EduYear"  formControlName="UserYearControl">
                <span *ngIf="formSignUpGroup.dirty"  
                [hidden]="!hasError('UserYearControl','required')" id="user">*Data Required</span> </td>
  <td></td>
        </tr>
    </table>
    <input (click)="onSubmit(formSignUpGroup.value)" [routerLink]="['/Step4']"  [disabled]='disable' type="submit" value="Submit"/><br>
</form>
   
</div>

