/* .editor{
    display: flex !important;
    /* height: 500px; */
/* }  */
.logo-img {
    width: 80px;
}
.side-bar {
margin-top: 10px;

}
.side-bar button{
    border: none;
    padding: 10px;
    background: transparent;
}
.link-button button {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 40px;
}
.link-button {
    display: flex;
    padding: 20px 0 50px;
}
.link-button button.active {
    background: lightgreen;
}
table.table td {
    border: 1px solid #dee2e6;
}
table.table th {
    border: 1px solid #dee2e6;
    vertical-align: top;
}
table.table tr td input {
    border: none;
    width: 100%;
}
table.table tr td {
    padding: 0;
    margin: 0;
}
.margin-left{
    margin-left: 20px;
}
.imagestyle{
    display: flexbox;
}

               
.text-initial {
    text-align: initial !important;
}

.show-btn{
    margin: 20px;
}


/* Special for dropZone section */
.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    min-width: 80vw;
    font-weight: 200;
    height: 300px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
}

/* Carousel CSS */
::ng-deep .carousel {
    /* position: relative; */
    width: 150px !important;
    height: 150px !important;
     /* overflow: hidden; */
}

.image-styling {
    display: flex !important;
    flex-wrap: wrap !important;
}


/* }
    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
  
    .file-label {
        font-size: 1.2em;
    }
  }
  
  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  } */
/* Special for dropZone section */
