<h3>Users Data</h3>
<div class="image">
  <!-- <img [src]="imgSrc" alt=""> -->
  <!-- <div *ngFor="let imgUrl of downloadedURLs">
    <label>Image URL:  </label>{{imgUrl}}
  </div> -->
  <!-- <img *ngFor="let imgUrl of downloadedURLs; let i = index" [src]="fdvdr" width="350px" height="250px"> -->
</div>
<div *ngFor="let user of items" >
   
  <!-- <App-Admin [user]=user></App-Admin> -->
 <!-- <div>

        <img *ngFor="let url of downloadedURLs" src="user[url]" width="350px" height="250px">
        
      </div> -->
      
        <!-- <div>
    
            <img *ngFor="let indexOf of user.downloadURLs" [src={{i}} width="350px" height="250px">
        </div> -->
        <!-- <div >
          <label> URL: </label> {{user.downloadURLs}}
        </div> -->
        <!-- <div *ngFor="let url of downloadURLs; let i = index" >
          <label> {{url.name}}</label> 
          <img src=[url.i]>
        </div> -->
        <div *ngFor="let url of user.downloadURLs; let i= index;" class="imagestyle">
            <img  src="{{user.downloadURLs[i]}}" width="350px" height="250px" class="imagestyle">
          </div>
        <!-- <div >
          <label> URL Array: {{user.downloadURLs}}</label> 
        </div> -->
        <div>
          <label>First Name: </label> {{user.name}}
        </div>
        <div>
          <label>Contact: </label> {{user.contact}}
        </div>
        <div>
          <label>Email: </label> {{user.email}}
        </div>
        <div>
          <label>Password: </label> {{user.Password}}
        </div>
        <div>
          <label>House: </label> {{user.House}}
        </div>
        <div>
          <label>Landmark: </label> {{user.Landmark}}
        </div>
        <div>
          <label>City: </label> {{user.City}}
        </div>
        <div>
          <label>Pincode: </label> {{user.Pincode}}
        </div>
        <div>
          <label>Standard: </label> {{user.Standard}}
        </div>
        <div>
          <label>Year: </label> {{user.Year}}
        </div>
        <div>
          <label>Password: </label> {{user.Password}}
        </div>
        <span class="button is-small btn-danger" (click)='deleteCustomer()'>Delete</span>
       
        <hr/>
      
    
    </div>
<div style="margin-top:20px;">
  <button type="button" class="button btn-danger" (click)='deleteCustomers()'>Delete All</button>
</div>