<!-- <div > -->
    <!-- <div>

        <img *ngFor="let indexOf of user.downloadURLs" [src={{i}} width="350px" height="250px">
    </div> -->
    <!-- <div >
      <label> URL: </label> {{user.downloadURLs}}
    </div> -->
    <!-- <div *ngFor="let url of downloadURLs; let i = index " >
      <label> URL: {{user[url]}}</label> 
    </div>
    <div>
      <label>First Name: </label> {{user.name}}
    </div>
    <div>
      <label>Contact: </label> {{user.contact}}
    </div>
    <div>
      <label>Email: </label> {{user.email}}
    </div>
    <div>
      <label>Password: </label> {{user.Password}}
    </div>
    <div>
      <label>House: </label> {{user.House}}
    </div>
    <div>
      <label>Landmark: </label> {{user.Landmark}}
    </div>
    <div>
      <label>City: </label> {{user.City}}
    </div>
    <div>
      <label>Pincode: </label> {{user.Pincode}}
    </div>
    <div>
      <label>Standard: </label> {{user.Standard}}
    </div>
    <div>
      <label>Year: </label> {{user.Year}}
    </div>
    <div>
      <label>Password: </label> {{user.Password}}
    </div>
    <span class="button is-small btn-danger" (click)='deleteCustomer()'>Delete</span>
   
    <hr/>
  </div> -->
