<div class="link-button">
        <button class="active" [routerLink]="['/Step1']" >Home</button><br>
        <button class="active" [routerLink]="['/Step2']">Registration</button><br>
        <button class="active" [routerLink]="['/Step3']">Education</button><br>
        <button class="active" [routerLink]="['/Step4']" >Summary</button><br>
    </div>
<div>
    <h4>Personal Details provided by you are as below:- </h4>
 <div *ngFor="let file of filelist">
     <p>{{file.fileName}}</p>
 </div>
   
    <table class="table">
            <thead class="thead-light">
                <th>Name</th>
                <th>Contact </th>
                <th>Email</th>
            </thead>
            <tr *ngFor="let cust of items">
                <td>{{cust.UserName}}</td>
                <td>{{cust.UserContact}}</td>
                <td>{{cust.UserEmail}}</td>
              </tr>
              </table>
</div>
<div>
        <h4>Address Details provided by you are as below:- </h4>
    
         <table class="table">
                <thead class="thead-light">
                    <th>House Number</th>
                    <th>City</th>
                    <th>Distt</th>
                    <th>Pincode</th>
                    <th>State</th>
                </thead>
                <tr *ngFor="let cust of items">
                    <td>{{cust.AddressHouse}}</td>
                    <td>{{cust.AddressCity}}</td>
                    <td>{{cust.AddressDistt}}</td>
                    <td>{{cust.AddressPincode}}</td>
                    <td>{{cust.AddressState}} </td>
                    
        
                  </tr>
                  </table>
    </div>
<div>



<h4>Educational Details provided by you are as below:- </h4>

     <table class="table">
            <thead class="thead-light">
                <th>Education</th>
                <th>Specialization</th>
                <th>University Name</th>
                <th>Markes Obtained</th>
                <th>Maximum Marks</th>
                <th>Year of Passing</th>
            </thead>
            <tr *ngFor="let cust of items">
                <td>{{cust.EduStandard}}</td>
                <td>{{cust.EduStream}}</td>
                <td>{{cust.EduUniversity}}</td>
                <td>{{cust.EduMarksObt}}</td>
                <td>{{cust.EduMarksMax}}</td>
                <td>{{cust.EduYear}}</td>
                
    
              </tr>
              </table>
</div>

<div>
    <button type="button" [routerLink]="['/Step5']"  (click)="AddToServer()">Submit</button>
</div>
